doctype html
html
  head
    link(rel='stylesheet' href='/css/style.css')
    script(src='/js/bundle.js')
    title= title
    //- link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
